*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    color:#fff;
    background-color: #344a72;
    line-height: 1.8;
}
.container{
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
}
.formwrap{
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    color: #333;
}
.formwrap h1 , .formwrap p{
    text-align: center;
}
.formwrap .formgroup{
    margin-top: 10px;
}
.formwrap .formgroup label{
    display: block;
}
.formwrap .formgroup input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.btn{
    font-size: 16px;
    width: 100%;
    background-color: #49c1a2;
    color: azure;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    border-color:#ddd ;
    cursor: pointer;
}
.btn:hover{
    background-color: #08b388;
}
.bottom-text{
    margin-top: 5px;
    font-size: 15px;
}
footer{
    text-align: center;
    margin-top: 10px;
}
footer a{
    font-weight: bold;
    color: #06ca99;
    text-decoration: none;
}
footer a:hover{
    color: #68f5cf;
}